{% extends 'base.html' %}

{% load static %}

{% block title %}Write Memory{% endblock title %}

{% block content %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}" />
{% endblock css %}

<!-- Main content of the create post page -->
<main class="create-post-section container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="create-post-heading text-center">Write a Memory</h1>
            <img class="form-image mx-auto d-block mb-4" src="{% static 'images/icons/form-icon.svg' %}" alt="Decorative form element">
            <!-- Form for creating a new post -->
            <form class="create-post-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-login-signup w-100 mt-3" type="submit">Publish Memory</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
