{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Memory{% endblock title %}

{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/delete_post.css' %}">
{% endblock css %}

<section class="delete-post-section">
    <h1 class="delete-post-heading">Delete "{{ object.title }}"</h1>
    <p class="delete-message">This action is irreversible. Are you sure you want to permanently delete this memory?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-delete">Yes, Delete Memory</button>
    </form>
</section>
{% endblock %}
