{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Memory{% endblock title %}

{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/edit_post.css' %}" />
{% endblock css %}

<main class="edit-post-section container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="edit-post-heading text-center">Edit Memory</h1>
            <form class="edit-post-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-edit">Update Memory</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
