{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Comment{% endblock title %}

{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/edit_comment.css' %}" />
{% endblock css %}

<main class="edit-comment-section container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="edit-comment-heading">Edit Comment</h1>
            <form class="edit-comment-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Save Changes</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
