{% extends "base.html" %}
{% load static %}

{% block title %}Remember Me{% endblock title %}

{% block content %}

<!-- index.html content starts here -->

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/memories.css' %}">
{% endblock css %}

<!-- Introductory Section -->
<div class="intro-section">
    <div class="overlay">
        <div class="intro-text">
            <p>Those we love never truly leave us; they live on in the stories we tell, the memories we cherish, and the love that shapes who we are. Through our hearts, their light continues to shine, guiding us even in their absence.</p>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <!-- Recent Memories Section -->
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-start">
                <!-- Recent Memories Label -->
                <h2 class="recent-memories-label">Recent Memories</h2>
                <!-- Link to All Memories -->
                <a href="{% url 'memories' %}" class="view-all-link">View All Memories</a>
            </div>
        </div>

        <!-- Recent Posts -->
        <div class="row mt-3">
            {% for post in post_list|slice:":3" %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.post_image.url %}
                            <img src="{% static 'images/default.jpg' %}" alt="placeholder image">
                            {% else %}
                            <img src="{{ post.post_image.url }}" alt="{{ post.title }}">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>    
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                        </a>
                         <p class="card-excerpt">{{ post.excerpt }}</p>
                         <button class="show-more-btn">Show More</button>
                        <hr>
                        <p class="card-text">{{ post.created_on }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <!-- Login/Sign Up Section -->
        <div class="row mt-5">
            <div class="col-12 text-center">
                {% if user.is_authenticated %}
                    <p class="login-message">If you would like to share another memory of Melvin, please do so below:</p>
                    <a href="{% url 'create_post' %}" class="btn-login-signup">Share Memory</a>
                {% else %}
                    <p class="login-message">If you would like to share a memory of Melvin, please <span class="color-primary">sign up</span>:</p>
                    <a href="{% url 'account_signup' %}" class="btn-login-signup">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}
