{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->

<div class="main-content">
    <div class="container-fluid">
        <!-- Recent Memories Section -->
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-start">
                <!-- Recent Memories Label -->
                <h2 class="recent-memories-label">Recent Memories</h2>
                <!-- Link to All Memories -->
                <a href="{% url 'memories' %}" class="view-all-link">View All Memories</a>
            </div>
        </div>

        <!-- Recent Posts -->
        <div class="row mt-3">
            {% for post in post_list|slice:":3" %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                        </a>
                        <p class="card-excerpt">{{ post.excerpt }}</p>
                        <hr />
                        <p class="card-text">{{ post.created_on }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}
