{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock css %}

<div class="signup-page container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="signup-title">{% trans "Sign Up" %}</h2>
            <p class="signup-message">
                {% blocktrans %}Already have an account? Please <a class="link" href="{{ login_url }}">log in</a> to share your memories or connect with others.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <form class="signup-form" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-login-signup w-100 mt-3" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
